body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
     margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150;
}

#myForm {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 80px;
    border-radius: 10px;
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #07b92e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 108%;
}

input[type="submit"]:hover {
    background-color: #bdba02;
}